

<mat-table #creditCardsTable [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'cards.list.number' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.number | iban}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="funds">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'cards.list.funds' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.funds}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="limit">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'cards.list.limit' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.limit}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="cycle">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'cards.list.cycle' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.cycle}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="repayment">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'cards.list.repayment' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.repayment}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>