<h1 mat-dialog-title>New transactions</h1>
<div mat-dialog-content>
  <form [formGroup]="transactionForm" #form="ngForm">
    <div formArrayName="transactions">
      <div *ngFor="let transaction of getControls(); let i = index" [formGroupName]="i">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [placeholder]="'transaction.edit.date' | translate" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" [placeholder]="'transaction.edit.description' | translate" formControlName="description">
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'transaction.edit.type' | translate" formControlName="type">
            <mat-option *ngFor="let type of (transactionTypes$ | async)" [value]="type">{{transactionType[type] | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'transaction.edit.from' | translate" formControlName="fromAccountId">
            <mat-option *ngFor="let account of (accounts$ | async)" [value]="account.id">{{account.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'transaction.edit.to' | translate" formControlName="toAccountId">
            <mat-option *ngFor="let account of (accounts$ | async)" [value]="account.id">{{account.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" [placeholder]="'transaction.edit.amount' | translate" formControlName="amount">
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'transaction.edit.currency' | translate" formControlName="currency">
            <mat-option *ngFor="let currency of (currencies$ | async)" [value]="currency">{{currency}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'transaction.edit.category' | translate" formControlName="category">
            <mat-option *ngFor="let category of (transactionCategories$ | async)" [value]="category">{{transactionCategory[category] | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="removeTransaction(i)" *ngIf="getControls().length > 1">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <div align="center" class="add-action">
      <button mat-icon-button color="primary" (click)="addTransaction()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">{{'transaction.edit.cancel' | translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">{{'transaction.edit.save' | translate}}</button>
  </mat-dialog-actions>