<h1 mat-dialog-title>New account</h1>
<div mat-dialog-content>
  <form [formGroup]="accountForm" class="account-form" #form="ngForm">
      <mat-form-field>
        <input matInput type="text" placeholder="Account's name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Account's number" formControlName="number">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Bank's name" formControlName="bankName">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Interest rate" formControlName="interestRate">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Account's type" formControlName="type">
          <mat-option *ngFor="let type of accountTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Initial balance" formControlName="initialBalance">
      </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
