<nav class="navbar navbar-expand-lg mat-elevation-z6" color="background">
  <a class="navbar-brand" mat-button color="primary" href routerLink="dashboard">{{ 'menu.dashboard' | translate }}</a>
  <a class="nav-link" mat-button color="primary" href routerLink="history">{{ 'menu.history' | translate }}</a>
  <a class="nav-link" mat-button color="primary" href routerLink="accounts">{{ 'menu.accounts' | translate }}</a>
  <a class="nav-link" mat-button color="primary" href routerLink="credit-cards">{{ 'menu.credit.cards' | translate }}</a>
  <div class="flex-spacer"></div>
  <button mat-button color="primary" (click)="selectLang()">EN</button>
</nav>