<mat-card>
  <mat-form-field class="text-filter">
    <input matInput (keyup)="applyFilter(textFilter)" placeholder="Filter" [(ngModel)]="textFilter">
  </mat-form-field>
  <form #searchForm="ngForm" class="search-form">
    <mat-form-field>
      <mat-select [placeholder]="'accounts.edit.type' | translate" ngModel name="type">
          <mat-option [value]="''">{{'accounts.list.allTypes' | translate}}</mat-option>
        <mat-option *ngFor="let type of accountTypes" [value]="type">{{accountType[type] | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-divider></mat-divider>

  <table mat-table multiTemplateDataRows #accountsTable [dataSource]="dataSource" matSort class="accounts-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'accounts.list.name' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'accounts.list.number' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.number | iban}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="bankName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'accounts.list.bankName' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.bankName}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'accounts.list.type' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{accountType[element.type] | translate}}</td>
      <td mat-footer-cell *matFooterCellDef><span class="total-balance">{{'accounts.list.totalBalance' | translate}}</span></td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'accounts.list.balance' | translate }}</th>
      <td mat-cell *matCellDef="let element">{{element.balance | number: '.2'}} {{element.currency}}</td>
      <td mat-footer-cell *matFooterCellDef><span class="total-balance">{{summary | number: '.2'}}</span></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="detail-cell">
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="account-details">
            <div class="initial-balance">Initial balance: {{element.initialBalance | number: '.2'}} {{element.currency}}
            </div>
            <div class="interest-rate" *ngIf="element.type === 'SAVINGS' || element.type === 'RETIREMENT'">Interest
              rate:
              {{element.interestRate | number: '.2'}} %</div>
          </div>
          <div class="account-actions">
            <button mat-button class="toggle-account"
              (click)="onToggleAccount(element)">{{(element.disabled ? 'accounts.list.enable' : 'accounts.list.disable') | translate}}</button>
            <button mat-button (click)="onSelectAccount(element)"
              [disabled]="element.disabled">{{'accounts.list.edit' | translate}}</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="element-row"
      [class.expanded-row]="expandedElement === row" [class.disabled]="row.disabled"
      (click)="expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [class.disabled]="row.disabled" class="detail-row">
    </tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
  </table>
</mat-card>